body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.dark-mode{
    background-color: rgb(27, 24, 24);
    color: white;
}

body.dark-mode .nav-link {
    color: white !important;
}

body.dark-mode .nav-link.active {
    color: white !important;
}

body.dark-mode .navbar-nav .nav-link:hover {
    color: rgb(200, 200, 200) !important; /* optional */
}

.nav-item{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dd{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

h4 {
  color: red;
  animation: glow 4s ease-in-out infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px red, 0 0 10px red;
  }
  50% {
    text-shadow: 0 0 15px red, 0 0 25px red;
  }
  100% {
    text-shadow: 0 0 5px red, 0 0 10px red;
  }
}

.about-page{
    display: flex;
    justify-content: start;
    align-items: start;
}
.about-page img{
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 200px;
    margin-left: 100px;
    animation: float 3s ease-in-out infinite;
}
.about-page img:hover{
    box-shadow: 10px 10px 10px black;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}

.socail_icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
    background-color: rgb(106, 36, 36);
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 20px;
    transition: all 2s ease;
}
.socail_icons i{
    font-size: 28px;
    color: black;
    
}

.socail_icons a:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 10px black;

}

.timeline{
    position: relative;
    border-right:3px solid red ;
    padding-right: 50px;
    padding-bottom: 30px;
    border-bottom: 4px red;
}
.timeline::before{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-right: 3px solid red;
    border-top: 3px solid red;
    transform: translate(-3px, -20px);
}
.Entry{
    margin-bottom: 40px;

}


.Entry p{
    font-weight: bold;
}
.Entry h2{
    font-size: 5.2rem;
    animation: slideFade 4s ease-in-out infinite;
    color: red;
    margin-bottom: 40px;
}


@keyframes slideFade {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.entry-path h5{
    font-size: 2.5rem;
}
.entry-path p{
    font-weight: bold;
    font-size: 1.23rem;
}
.card{
    overflow: hidden;
    height: 150px;
    width: 450px;
   border: 3px solid rgb(7, 6, 6);
   background-color: bisque;
   border-radius: 10px;
   box-shadow: 10px 10px 10px black;
   
}
.card img{
    height: 250px;
   max-height: 250px;
   max-width: 500 px;
   transition: 0.4s ease;
   align-items: center;
}

.card img:hover{
    transform: scale(1.05);
}

.butt{
    background-color: rgb(106, 37, 37);
}

.button-hover-clear:hover {
  background-color: transparent !important;
  border: 2px solid #341c1c !important;
  box-shadow: 10px 10px 10px black;
  
}

.container{
    animation: slide-in 2s ease-in-out;
}
@keyframes slide-in {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}